.venv
venv
__pycache__
.DS_Store
.idea
.vscode
.pytest_cache
.pytest_cache
.idea/
local.env
notebooks\preview.parquet
252-CS465_Project_Instructions.docx
venv
.venv
notebooks/preview.parquet
*.parquet

